
* {
	font-family: var(--pico-font-family);
    scroll-behavior: smooth;
}

body {
    padding-inline: var(--pico-spacing);
}

/* 5.5625em */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://ygames1914a.github.io/portfolio/pico/img/wallpaper.jpg) no-repeat;
    background-position: center;
    margin-inline: -1em;
}

/* header img {
    height: 1em;
    width: auto;
} */

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    height: 1em;
    margin-right: 0.3em;
}

main a {
    text-decoration: none;
}

.custom-b {
    display: block;
    width: 100%;
}

section {
    margin-block: calc(1em + var(--pico-spacing));
}

section h2 {
    text-align: center;
    margin-bottom: calc(0.5em + var(--pico-spacing));
}

.par {
    line-height: 2;
    text-align: center;
}

.article-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--pico-spacing);
}

article {
    display: block;
    text-align: center;
    max-width: 16em;
    transition: 0.4s ease-in-out;
    text-align: center;
}

article:hover {
    transform: scale(1.1);
}

article img {
    max-width: 10em;
}

@media (width <712px) {
    .article-wrapper {
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
}

.how-wrapper {
    padding: 1em;
    /* border: 10px solid #e5e5e5dd; */
    border-radius: 2em;
    transition: 0.7s ease-in-out;
}

.how-wrapper:hover {
    box-shadow: 0 0 30px 2px #feffff;
}

.how-wrapper::after {
    content: '';
    position: relative;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/036/324/708/small_2x/ai-generated-picture-of-a-tiger-walking-in-the-forest-photo.jpg);
    background: red;
    display: block;
    width: 100px;
    height: 100px;
    z-index: 555555;
}